<nav class="heading">
        <div class="heading__title"  routerLink="/">BLOG</div>
        <div class="heading__tabs">

                <a  routerLink="/catagory/lifestyle"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">lifestyle</a>
                <a  routerLink="/catagory/fitness"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">fitness</a>
                <a  routerLink="/catagory/food"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Food</a>
                <a  routerLink="/catagory/technology"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">technology</a>
                <a routerLink="/catagory/travel"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">travel</a>
                <a  routerLink="/catagory/personal"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">personal</a>
        </div>
        <!-- <a class="heading__tabs" routerLink="/create-blog">+</a> -->
       
        <!-- <a class="heading__login" routerLink="/login" *ngIf="user==null">login</a> -->
        <!-- <a class="" -->
        <div class="heading__search">
                <input type="text" placeholder="search" [(ngModel)]="searchInput" (keyup.enter)="search()"/>
                <button class='btn'><i class="bi bi-search"(click)="search()"></i></button>
                
        </div>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="heading__login" *ngIf="user==null"> <img src="https://images.assetsdelivery.com/compings_v2/90miles/90miles2005/90miles200500021.jpg"/> <span>login</span></a>
        
        <div  class="heading__login" *ngIf="user" (click)="clickDropDown()">
                 <img [src]="user['image']"/> <div>{{user['username']}} <i class="bi bi-caret-down-fill {{dropDownBtn?'downArrow':''}}"  ></i></div>
                <app-dropdown [dropDown]="dropDownBtn"></app-dropdown>
        </div>
        <!-- <a class="heading__signup" routerLink="/signup">signup</a> -->
    
</nav>