.heading {
  background-color: white;
  // width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
  padding: 1rem;
  align-items: center;

 
  &  a {
    padding: 0.3rem 0.6rem;
    font-size: 1.2vmax;
    text-decoration: none;
    font-family:"Roboto",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // color: #888;
    color:#222;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition:all .2s ease-in-out;
    &:hover{
      background-color: #222;
      color:white
    }
  }
  &__tabs{

    display: flex;
    width: 60%;
    justify-content: space-between;
  }
&__search{
  
  height: 100%;
  border-radius: 1rem;
  // bordeR:1px solid silver;/
  display: flex;

  
  &>input{
    // width: 2vmax;
    width: 12vw;
    transition: all .2s;
    padding: 0.4rem;
    border:1px solid silver;
    border-top-left-radius:0.5rem;
    border-bottom-left-radius: 0.5rem;
    &:focus-visible{
      // width: 15vw;
      outline:none;
    }
  }
  &>button{
    font-size: 1.3vmax;
    outline: none;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    color: white;
    padding: 0.2rem;
    border-top-right-radius:0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
 
  

 
}

  &__title {
    font-size: 2.2vmax !important;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    // color: #888;
    color:black;
    border-radius: 1.5rem;
    transition:all .2s ease-in-out;
  }

  &__login {
    color: black;
    padding: 0.2rem 0.4rem;
    font-size: 1.3vmax;
  font-family: "Roboto",'Courier New', Courier, monospace;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    &>img{
      border-radius: 100%;
      width: 2.5vmax;
      margin-right: 0.2rem;
    }
    & i{
      display: inline-block;
      transition: transform .2s;
    }
  }


}
.active {
  color: white !important;
  font-weight: bold;
  background: black !important;
  transform: scale(1.05);
}

.downArrow{
  transform: rotate(180deg);

}